.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.lista-menu__item {
    padding: 1em;
    background-color: var(--fundo-secundario);
}

.lista-menu__link {
    background: var(--cor-primaria);
    background-clip: text;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}