.cabecalho__container {
    display: flex;
}

.cabecalho__menu--hamburguer {
    background-image: url("../../images/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu--hamburguer {
    background-image: url("../../images/Menu\ Aberto.png"); 
}

.container__botao:checked ~ .container__rotulo{
    background: var(--fundo-principal);
}

.cabecalho {
    align-items: center;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    align-items: center;
    display: flex;
}

.container__titulo, .container__texto, .opcoes {
    display: none;
}

.container__imagem {
    padding: 0.5em;
    max-width: 50px;
}