@import url("../estilos/cabecalho/cabecalho.css");
@import url("../estilos/conteudo/conteudo.css");
@import url("../estilos/equipe/equipe.css");
@import url("../estilos/servicos/servicos.css");
@import url("../estilos/rodape.css");


:root {
    --fonte-principal: 'Poppins';

    --fundo-principal: #9E9D9B;
    --fundo-secundario: #D6D5D2;
    --fundo-terciario: #9c8e60;

    --cor-primaria: #181717;   
    --cor-secundaria:#59564C;
    --branco: #f1f1f1;
}

body {
    font-size: 16px;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.container__geral {
    background: var(--branco);
}