.conteudo__contato {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.0rem;
}

.conteudo__contato > .conteudo__texto {
    text-align: justify;
    padding: 0 1rem 0.5rem 1rem;
}

@media screen and (min-width: 768px) {
    .conteudo__contato {
        align-self: center;
        margin: 1rem 3rem;
        max-width: 70vh;
    }
}
