@import url("../contato/contato__formulario.css");
@import url("../contato/contato__tabela.css");

.contato__whats {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.contato__subtitulo {
    font-size: 1.0rem;
    font-weight: 500;
    margin: 0.5rem;
}

.contato__botao--whats {
    background: green;
    border: none;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: var(--branco);
    padding: 0.6rem;
    transition: 0.3s ease-in-out;
}

.contato__botao--whats::before {
    content: url("../../images/whatsapp.png");
}

.contato__botao--whats:hover {
    background: rgb(2, 70, 2);
}

