.contato__formulario {
    display: flex;
    flex-direction: column;
}

.contato__formulario--label {
    text-align: left;
    margin: 0.5rem;
}

.contato__formulario--input {
    font-family: var(--fonte-principal);
    margin: 0 0.5rem 1rem 0.5rem;
    max-width: 95%;
}

#mensagem {
    margin-bottom: 0.25rem;
}

.contato__formulario--aviso {
    color: var(--branco);
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

.botao__enviar {
    background-color: var(--fundo-secundario);    
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 0.5rem 1rem;
    align-self: center;
    transition: 0.3s ease-in-out;
    width: 130px;
}

.botao__enviar:hover {
    background: var(--cor-secundaria);
    transform: scale(1.15);
}

.contato__whats {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.contato__subtitulo {
    font-size: 1.0rem;
    font-weight: 500;
    margin: 0.5rem;
}

.contato__botao--whats {
    background: green;
    border: none;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: var(--branco);
    padding: 0.6rem;
    transition: 0.3s ease-in-out;
}

.contato__botao--whats::before {
    content: url("../../images/whatsapp.png");
}

.contato__botao--whats:hover {
    background: rgb(2, 70, 2);
}

.tabela__titulo {
    font-size: 1.1rem;
    font-weight: 500;
}

.tabela {
    margin: 0.5rem 1rem;
}

thead {
    background: var(--fundo-terciario);
    color: white;
    font-weight: bold;
}

tr {
    vertical-align: middle;
}

td, th {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 0.5rem 0.8rem;
    text-align: center;
}

tr:nth-child(even) {
    background-color: var(--fundo-secundario)
}

